@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    7250, rue Marie-Victorin<br />
    Montréal, Qc, H1G 2J5<br />
    <abbr title="Téléphone">T:</abbr>
    514-323-5332
    <abbr title="Fax">F:</abbr>
    514-323-7027
    <abbr title="Cellulaire">C:</abbr>
    514-608-5333
</address>

<address>
    <strong>Adresse email:</strong>   <a href="mailto:Scote@pavillonmontfort.ca">Scote@pavillonmontfort.ca</a><br />
</address>